@import 'bootstrap.min.css';

@import 'bootstrap-responsive.min.css';

@import 'font-awesome.min.css';
.soft-hidden {
  position: absolute;
  left: -99999px;
}
.no-soft-hidden {
  position: relative;
  left: auto;
}
.santiago-branding {
  background-image: url('../images/santiago-branding.png');
  background-position: left top;
  background-repeat: no-repeat;
}
body {
  padding-top: 40px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}
#index .hero-unit.custom-hero-unit .custom-hero-unit-inner {
  background-image: url('../images/santiago-branding.png');
  background-position: left top;
  background-repeat: no-repeat;
  border-top: 1px solid transparent;
  padding-top: 103px;
}
#index .hero-unit.custom-hero-unit .custom-hero-unit-inner h1 {
  position: absolute;
  left: -99999px;
}
@media (max-width: 979px) {
  #index .hero-unit.custom-hero-unit .custom-hero-unit-inner {
    background-image: none;
    padding-left: 0;
  }
  #index .hero-unit.custom-hero-unit .custom-hero-unit-inner h1 {
    position: relative;
    left: auto;
  }
}
#footer {
  background-color: #F5F5F5;
  border-top: 1px solid #E5E5E5;
  margin-top: 70px;
  padding: 30px 0;
}
article {
  margin: 1em;
}
